<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>some text 1</li>
        <li>some text 2</li>
        <li>some text 3</li>
        <li>some text 4</li>
      </ol>
      <hr />
      <label for="">User Name: </label>
      <input type="text" class="form-control" [(ngModel)]="userName" />
      <!-- <app-servers></app-servers> -->
      <p>{{ userName }}</p>
      <button
        class="btn btn-primary"
        [disabled]="userName === ''"
        (click)="userName = ''"
      >
        Reset userName
      </button>
    </div>
  </div>
</div>
